* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Estilos básicos de tipografía y cuerpo */
body {
  font-family: "Roboto", sans-serif;
  line-height: 1.6;
  color: #333;
  background: rgb(7.5, 2.7, 22.7);
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
  color: #fff;
  z-index: 10;
  width: 100%;
}

nav ul {
  list-style: none;
  padding: 0;
}

nav ul li {
  display: inline;
  margin-right: 10px;
}

nav ul li a {
  color: #fff;
  text-decoration: none;
  font-weight: bold;
}

nav ul li a:hover {
  text-decoration: underline;
}

/*Inicio*/
.sección-pre {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 100px 0;
  padding: 20px;
  color: #1e2022;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.sección-pre-1 {
  flex-direction: column;
  width: 90%;
}

.sección-pre-1 h1 {
  font-size: 3.59em;
  font-weight: 800;
  color: #fff;
  line-height: 1em;
  padding-bottom: 1%;
  text-transform: uppercase;
}

.sección-pre-1 p {
  font-size: 1.5em;
  font-weight: 700;
  color: #fff;
  line-height: 1em;
  text-transform: uppercase;
}

.social {
  position: absolute;
  z-index: 10;
  padding-top: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.social li {
  list-style: none;
}

.social li a {
  display: inline-block;
  margin-right: 20px;
  filter: invert(1);
  transform: scale(0.5);
  transition: 0.5s;
}

.social li a:hover {
  transform: scale(0.5) translateY(-15px);
}

.proyectos {
  display: flex;
}

/* From Uiverse.io by gharsh11032000 */
.animated-button {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 25%;
  margin-top: 3%;
  width: 39%;
  padding: 0px 36px;
  border: 4px solid;
  border-color: transparent;
  font-size: 16px;
  background-color: inherit;
  border-radius: 100px;
  color: rgb(0, 0, 0);
  box-shadow: 0 0 0 2px rgb(0, 0, 0);
  cursor: pointer;
  overflow: hidden;
  transition: all 0.6s cubic-bezier(0.23, 1, 0.32, 1);
}

.animated-button svg {
  position: absolute;
  width: 24px;
  fill: rgb(0, 0, 0);
  transition: all 0.8s cubic-bezier(0.23, 1, 0.32, 1);
}

.animated-button .arr-1 {
  right: 16px;
}

.animated-button .arr-2 {
  left: -25%;
}

.animated-button .circle {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 2px;
  height: 2px;
  background-color: rgb(255, 255, 255);
  border-radius: 50%;
  opacity: 0;
  transition: all 0.8s cubic-bezier(0.23, 1, 0.32, 1);
}

.animated-button .text {
  position: relative;
  z-index: 1;
  transform: translateX(-12px);
  transition: all 0.8s cubic-bezier(0.23, 1, 0.32, 1);
}

.animated-button:hover {
  box-shadow: 0 0 0 12px transparent;
  color: #000000;
  border-radius: 12px;
}

.animated-button:hover .arr-1 {
  right: -25%;
}

.animated-button:hover .arr-2 {
  left: 16px;
}

.animated-button:hover .text {
  transform: translateX(12px);
}

.animated-button:hover svg {
  fill: #000000;
}

.animated-button:active {
  scale: 0.95;
  box-shadow: 0 0 0 4px rgb(0, 0, 0);
}

.animated-button:hover .circle {
  width: 220px;
  height: 220px;
  opacity: 1;
}

.presentacion {
  text-align: center;
}

.sección-pre p {
  color: #ffffff;
}

.img-1 {
  width: 20%;
}

.icon {
  fill: rgb(0, 0, 0);
  width: 1em;
  aspect-ratio: 1;
  top: 0;
  left: 0;
  margin: auto;
  transform: translate(-35%, 10%);
}

/* Estilos para imágenes */
img {
  max-width: 100%;
  height: auto;
  border-radius: 8px;
}

/* Estilos específicos para el portafolio */

.recursos {
  margin: 20px 0;
  gap: 2%;
  padding: 5%;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(232, 230, 230, 0.1);
}

.titu-proyec {
  padding: 0.4%;
  border-radius: 8px;
  margin-left: 6%;
}

.recursos img {
  width: 15%;
}

.recursos-etique {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: center;
  background-color: #ffffff;
}

/* Estilos para el pie de página */
footer {
  text-align: center;
  padding: 20px 0;
  background-color: #000000;
  color: #fff;
  margin-top: 0;
  border-top: 4px solid #007bff;
}

footer p {
  margin-bottom: 10px;
}

footer ul {
  list-style: none;
  padding: 0;
}

footer ul li {
  display: inline;
  margin-right: 10px;
}

footer ul li a {
  color: #fff;
  text-decoration: none;
}

footer ul li a:hover {
  text-decoration: underline;
}

.enlace {
  font-weight: 600;
  color: #4271ff;
  text-decoration: none;
}

/* Estilos responsivos */
@media (max-width: 768px) {
  nav ul li {
    display: block;
    margin-bottom: 10px;
  }

  .proyecto {
    padding: 15px;
  }

  form input,
  form textarea {
    width: 100%;
  }
}
